version: 1.0.{build}
branches:
  only:
  - master

image: Visual Studio 2022

configuration: Release
platform: x64

clone_folder: c:\projects\uacme

build_script:
  - cmd: msbuild Source\uacme.sln /m /v:normal /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143
