#include "bin64res.h"
#include "winres.h"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDR_FUBUKI64 RCDATA "bin\\fubuki64.cd"
IDR_FUBUKI32 RCDATA "bin\\fubuki32.cd"
IDR_AKATSUKI64 RCDATA "bin\\akatsuki64.cd"
IDR_KAMIKAZE RCDATA "bin\\kamikaze.cd"
IDR_SECRETS RCDATA "bin\\secrets64.bin"
